In [33]:
#1. Write a Python program to find the length of the string "Hello, World!"


x = "Hello World" 
print(x)
print(len(x))

Hello World
11

In [5]:
#2. Create a program to convert the string "python" to uppercase.


x1 = "python"
x1upper = x1.upper()
print(x1upper)

PYTHON

In [10]:
#3. Given the string "Welcome to Python", extract the substring "Python"

x2 = "Welcome to python"
print(x2)
x2[10:17]

Welcome to python

' python'

In [ ]:
#4. Write a program to check if the string "radar" is a palindrome

In [11]:
#5 Replace all occurrences of 'a' with '@' in the string "banana"

y = "banana"
print(y.replace("banana","b@n@n@"))

b@n@n@

In [ ]:
#6 Write a program to count the number of vowels in the string "education".

vowels = "a,e,i,o,"u"

In [15]:
 #7 Split the string "I love to code" into a list of words.

msg = "I Love to code"
print(msg)

i = msg.split()
i

I Love to code

['I', 'Love', 'to', 'code']

In [23]:
#8 Concatenate the strings "Hello" and "World" with a space between them.

x = "Hello"
y = "World"
statement = x+"  "+y
print(statement)

Hello  World

In [30]:
#9 Write a program to check if the string "Python3" starts with "Py".

v = "python3"
print(v)
v[:2]

python3

'py'

In [32]:
#10. Remove leading and trailing whitespaces from the string "  Hello World  ".


x = "   Hello world  "

x.strip()

'Hello world'

 # List #

In [2]:
#1. Create a list containing the numbers [1, 2, 3, 4, 5] and print its length

list = [1,2,3,4,5]
print(list)
print(f"Total length of the list: {len(list)}")

[1, 2, 3, 4, 5]
Total length of the list: 5

In [15]:
#2. Write a program to append the number 6 to the list [1, 2, 3, 4, 5].

list1 = [1,2,3,4,5]
list1.insert(5,6)
print(list1)
list1.append("list1")

[1, 2, 3, 4, 5, 6]

In [49]:
#3. Remove the element 3 from the list [1, 2, 3, 4, 5].

list2 = [1,2,3,4,5]
print(list2)
del(list2[2])

[1, 2, 3, 4, 5]

In [50]:
list2

[1, 2, 4, 5]

In [39]:
#4. Write a program to find the sum of all elements in the list [10, 20, 30, 40].

list4 = [10,20,30,40]
print(list4)
print(f"The total sum of the list: {sum(list4)}")

[10, 20, 30, 40]
The total sum of the list: 100

In [44]:
#5. Access the third element of the list ["apple", "banana", "cherry", "date"].

list5 = ["apple","banana","cherry","date"]
print(list5)
list5.pop(3)

['apple', 'banana', 'cherry', 'date']

'date'

In [53]:
#6. Sort the list [5, 2, 9, 1, 5] in ascending order
numbers = [5,2,9,1,5]
numbers.sort()
print(numbers)

[1, 2, 5, 5, 9]

In [62]:
#7. Write a program to reverse the list [1, 2, 3, 4, 5].

list7 = [1,2,3,4,5]
list7.reverse()
print(list7)

[5, 4, 3, 2, 1]

In [ ]:
#8. Create a program to check if "banana" exists in the list ["apple", "banana", "cherry"].

In [68]:
#9.  Merge two lists [1, 2, 3] and [4, 5, 6] into a single list.

list1 = [1,2,3]
list2 = [4,5,6]
merge = list1 + list2
print("the merge of 2 list is:",sum)

the merge of 2 list is: [1, 2, 3, 4, 5, 6]

In [69]:
#10. Write a program to find the index of 4 in the list [1, 2, 3, 4, 5

x1 = [1,2,3,4,5]
print(x1[4])

5

# Tuple #

In [73]:
#1. Create a tuple with the elements (1, "hello", 3.14) and print it.

tup = (1,"hello",3.14)
print(tup)
print(type(tup))

(1, 'hello', 3.14)
<class 'tuple'>

In [75]:
#2.  Write a program to find the length of the tuple (10, 20, 30, 40).

tup1 =(10,20,30,40)

print(tup1)
print(len(tup1))

(10, 20, 30, 40)
4

In [77]:
#3. Access the second element of the tuple ("apple", "banana", "cherry").

tup2 = ("apple", "banana", "cherry")
print(tup2)
print(tup2[2])

('apple', 'banana', 'cherry')
cherry

In [78]:
#4. Write a program to concatenate two tuples (1, 2, 3) and (4, 5, 6)

tup1 = (1,2,3)
tup2 = (4,5,6)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [ ]:
#5. Check if the element 5 exists in the tuple (1, 2, 3, 4, 5)

In [80]:
#6. Create a tuple with a single element "solo" and print its type.

tup = ("solo")
print(type(tup))

<class 'str'>

In [81]:
#7. Write a program to count the occurrences of 2 in the tuple (1, 2, 2, 3, 2).

tup1 = (1,2,2,3,2)
print(f"count value of tuple: {tup1.count(2)}")

count value of tuple: 3

In [87]:
#8. Convert the list [1, 2, 3] into a tuple

list = [1,2,3]
my_tuple = tuple(list)
print(my_tuple)

(1, 2, 3)

In [95]:
#9. Write a program to find the index of "blue" in the tuple ("red", "blue", "green").

tup = ("red","blue","green")
print(tup[0])
print(tup[1])
print(tup[2])

red
blue
green

In [97]:
#10. Create a program to slice the tuple (1, 2, 3, 4, 5) to get elements from index 1 to 3.

x1 = (1,2,3,4,5)
print(x1)
print(x1[0:3])

(1, 2, 3, 4, 5)
(1, 2, 3)

# Set #

In [98]:
#1. Create a set with the elements {1, 2, 3, 4} and print it

set = {1,2,3,4}
print(set)
print(type(set))

{1, 2, 3, 4}
<class 'set'>

In [99]:
#2.  Write a program to add the element 5 to the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.add(5)
print(set)

{1, 2, 3, 4, 5}

In [100]:
#3. Remove the element 2 from the set {1, 2, 3, 4}.

set.remove(2)
set

{1, 3, 4, 5}

In [ ]:
#4. Check if 3 exists in the set {1, 2, 3, 4}.

In [101]:
#5. . Write a program to find the union of sets {1, 2, 3} and {3, 4, 5}.

setA  = {1,2,3}
print(setA)
setB = {3,4,5}
print(setB)
print(setA.union(setB))

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

In [102]:
#6.  Find the intersection of sets {1, 2, 3, 4} and {3, 4, 5, 6}.

setA = {1,2,3,4}
print(setA)
setB = {3,4,5,6}
print(setB)
print(setA.intersection(setB))

{1, 2, 3, 4}
{3, 4, 5, 6}
{3, 4}

In [ ]:
#7. Write a program to check if {1, 2} is a subset of {1, 2, 3, 4}.

In [103]:
#8.  Create a program to find the difference between sets {1, 2, 3} and {2, 3, 4}.

setA = {1,2,3}
print(setA)
setB = {2,3,4}
print(setB)
print(setA-setB)
print(setB-setA)

{1, 2, 3}
{2, 3, 4}
{1}
{4}

In [107]:
#9. Convert the list [1, 2, 2, 3] into a set to remove duplicates

nlis = [1,2,2,3]
print(nlis)

[1, 2, 2, 3]

In [112]:
set2 = set(nlis)
print(set2)

TypeError: 'set' object is not callable

In [114]:
#10. Write a program to clear all elements from the set {1, 2, 3}.

set10 = {1,2,3}
set10.clear()

In [115]:
set10

set()

# Dictionary #

In [116]:
#1.  Create a dictionary with keys "name" and "age" and values "Alice" and 25, then print it.

person1 = {
    'Name':"Alice",
    'age':25
}
person1

{'Name': 'Alice', 'age': 25}

In [118]:
#2. Write a program to access the value of the key "color" from the dictionary {"color": "blue", "size": "small"

sample_dict = {"color":"blue",
              "size":"small"
              }
sample_dict

print(sample_dict["color"])

blue

In [119]:
#3. Add a new key-value pair "city": "New York" to the dictionary {"name": "Bob", "age": 30}

person1 = {
    "name": "Bob",
    "age": 30,
    "city": "New York"
}
person1

{'name': 'Bob', 'age': 30, 'city': 'New York'}

In [120]:
#4. Write a program to remove the key "price" from the dictionary {"item": "pen", "price": 5}.

dict_sample = {
    "item":"pen",
    "price":5
}
dict_sample

{'item': 'pen', 'price': 5}

In [121]:
dict_sample.pop("price")

5

In [122]:
dict_sample

{'item': 'pen'}

In [123]:
#5.  Check if the key "name" exists in the dictionary {"age": 40, "city": "London"}

person2 = {
    "age":40,
    "city":"London"
}
person2

{'age': 40, 'city': 'London'}

In [124]:
"age" in person2

True

In [125]:
"city" in person2

True

In [126]:
"name" in person2

False

In [127]:
#6. Write a program to print all keys of the dictionary {"a": 1, "b": 2, "c": 3}.

keys = {
    "a": 1,
    "b": 2,
    "c": 3
}
keys

{'a': 1, 'b': 2, 'c': 3}

In [128]:
#7.. Print all values of the dictionary {"fruit": "apple", "color": "red", "price": 2}.

key = {
    "fruit": "apple",
    "color": "red",
    "price": 2
}
key

{'fruit': 'apple', 'color': 'red', 'price': 2}

In [131]:
key.values()

dict_values(['apple', 'red', 2])

In [132]:
#8.  Create a program to update the value of the key "score" to 95 in the dictionary {"score": 90, "grade": "A"}.

key = {
    "score": 90,
    "grade": "A"
    
}
key

{'score': 90, 'grade': 'A'}

In [133]:
key["score"] = 95

In [134]:
key

{'score': 95, 'grade': 'A'}

In [135]:
#9. Write a program to find the length of the dictionary {"x": 10, "y": 20, "z": 30}.

dict = {
    "x": 10,
    "y": 20,
    "z": 30
    
}
dict

{'x': 10, 'y': 20, 'z': 30}

In [140]:
length = len(dict)
print("length of dictionary:",length)

length of dictionary: 3

In [143]:
#10.  Merge two dictionaries {"a": 1, "b": 2} and {"c": 3, "d": 4} into a single dictionary.

dict1 = {
    "a": 1,
    "b": 2
}
dict1

{'a': 1, 'b': 2}

In [144]:
dict2 = {
    "c": 3,
    "d": 4
}
dict2

{'c': 3, 'd': 4}

In [148]:
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}